.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto;
}

.underline {
  width: 50px;
  background-color: red;
  height: 2px;
}

.category-content {
  display: flex;
  border-bottom: 2px solid grey;
  margin-right: 20px;
}

.category-content:last-child {
  border-bottom: none;
}

.category-content-div {
  padding-top: 30px;
}

.category-content-div a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.category-img {
  height: 200px;
  width: 150px;
  margin: 15px;
  border-radius: 5px;
}

.category-main {
  display: flex;
  justify-content: space-between;
}

.advertisement {
  border: 2px solid black;
  min-height: 350px;
  max-width: 300px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  font-size: 17px;
}

.topPost-img {
  height: 100px;
  width: 130px;
  margin: 8px;
}

.topPost-content {
  position: relative;
  display: flex;
  border-bottom: 2px solid grey;
  width: fit-content;
}

.topPost-content:last-child {
  border-bottom: none;
}

.topPost-title {
  padding-top: 13px;
}

.number {
  position: absolute;
  right: 5px;
  bottom: 15px;
  font-size: 60px;
  color: rgb(196, 191, 191);
}

.updateCount {
  border: none;
  font-size: 20px;
  color: rgb(245, 144, 144);
  margin: 30px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
}

@media screen and (min-width: 260px) and (max-width: 890px) {
  .category-container {
    grid-template-columns: 1fr;
  }

  .category-container div {
    width: 100%;
  }
  .category-content {
    flex-direction: column;
  }
  .category-img {
    min-width: 200px;
    max-width: 480px;
  }
  .category-content-div {
    margin-bottom: 15px;
  }
  .underline {
    width: 50px !important;
  }
  .advertisement {
    margin-top: 30px;
  }
  .topPost-content-div {
    margin-bottom: 15px;
  }
  .number {
    bottom: 25px;
  }
}
