.home {
  display: flex;
}
.home img {
  height: 62vh;
  min-width: 40vw;
  max-width: 220vw;
  margin: 10px;
}
.home-flex {
  display: flex;
  flex-direction: column;
}
.home-flex img {
  height: 30vh;
  min-width: 40vw;
  max-width: 100vw;
  margin: 10px;
}
.latest {
  display: flex;
  /* flex-wrap: wrap; */
  /* margin: auto; */
}
.latest img {
  min-width: 18vw;
  max-width: 30vw;
  margin: 8px;
}
.latest p,
h1 {
  max-width: 20vw;
  min-width: 18vw;
  margin-left: 8px;
}
.latest i {
  margin-left: 10px;
  color: grey;
}
.latest-article {
  display: grid;
  /* justify-content: space-between;
   */
  grid-template-columns: 1fr 1fr;
}
.latest-article img {
  max-width: 20vw;
  min-width: 18vw;
  margin: 8px 8px;
}
.latest-articles {
  display: flex;
}
.latest-stories {
  display: flex;
  /* width: 200px; */
}
.latest-stories div {
  margin: 0px 15px;
  border-right: 2px solid rgb(216, 211, 211);
  padding-right: 10px;
}
.latest-stories div:last-child {
  border: none;
}
.line {
  height: 2px;
  background-color: rgb(216, 211, 211);
  margin: 40px 10px;
}
.topPost {
  display: flex;
}
.topPost img {
  /* min-width: 10vw; */
  width: 200px;
  height: 150px;
  margin: 8px;
}
